.HomeContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 98%;
  gap: 7vh;
}

.CarroselContainer {
  padding-top: 3vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Carrosel {
  width: 80vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dcdcdc;
  border-radius: 1.5vw;
}

.FeatureContainer {
  padding-top: 1vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Feature {
  display: flex;
  width: 75vw;
  height: 35vh;
  align-items: center;
  gap: 3vw
}

.FeatureC1 {
  background-color: #dcdcdc;
  width: 12vw;
  height: 12vw;
  margin-left: 4vw;
}

.FeatureC2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 12vw;
  padding-left: 2%;
  gap: 2vh;
}

.FeatureC2Title {
  text-align: left;
  font-size: 2vw;
  font-weight: bold;
  color: #333;
}

.FeatureC2Desc {
  text-align: left;
  font-size: 100%;
  color: #333333;
}

.FeatureC2Button {
  width: 45%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  background-color: #333;
  border-radius: 0.6vw;
  cursor: pointer;
  color: #dcdcdc;
  font-size: 155%;
  font-weight: 600;
}

.FeatureC2Button:hover {
  background-color: #333333ec;
  transition: background-color 0.1s ease-in-out;
  font-size: 195%;
  border: 2px solid #dcdcdc81;
  font-weight: 600;
}


.FeatureExContainer {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.FeatureItem {
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #3333333a;
  border-radius: 4%;
  gap: 4%;
}

/* .FeatureItem:hover{
  background-color: #6289b644;
  cursor: pointer;
} */
.FeatureExItemR1 {
  width: 100%;
  height: 75%;
  border-radius: 4%;
  background-color: #dcdcdc;
}

.FeatureExItemR2 {
  font-size: 100%;
}

.FeatureExItemR3 {
  font-size: 110%;
  font-weight: 600;
}



.Location.expanded {
  height: 80vh;
  width: 100vw;
}

.Search-filter {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #9DC0E999;
  border-radius: 1.5vw;
}


.FilterControl {
  text-align: left;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: space-around;
}

.FilterControlTitle {
  padding-left: 10%;
  font-size: 250%;
  font-weight: bold;
}

.FilterControlDesc {
  padding-left: 9%;
  font-size: 120%;
  font-weight: 400;

}


.FilterControlDateRow{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
}

.FilterControlDateRow input[type="date"] {
  font-size: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  outline: none;
  transition: border-color 0.3s ease;
  width: 25vw;
}

.FilterControlDateRow input[type="date"]:focus {
  border-color: #2c80b1;
}

.FilterControlDateRow input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: brightness(0.7);
}




.FilterControlButtonsContainer {
  width: 100%;
  height: 6.5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  z-index: 9;
}

.FilterControlButtonsSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 90%;
  border-radius: 0.5vw;
  border: 2px solid #FFE925;
  background-color: #ffe925be;
  color: #333;
  font-size: 160%;
  font-weight: 600;
  cursor: pointer;
}

.FilterControlButtonsSearch:hover {
  background-color: #FFE925;
  font-size: 190%;
  transition: background-color 0.1s ease-in-out;
  border: 2px solid #9DC0E9;
}

.FilterControlButtonsReset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 90%;
  border-radius: 0.5vw;
  border: 1px solid #FFE925;
  background-color: #ffe925be;
  color: #333;
  font-size: 150%;
  font-weight: 600;
  cursor: pointer;
}

.FilterControlButtonsReset:hover {
  background-color: #FFE925;
  font-size: 190%;
  transition: background-color 0.1s ease-in-out;
  border: 2px solid #9DC0E9;
}

.FilterSelect {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.FilterRow1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.FilterRow2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 9;
}

.FilterSelectItem {
  width: 40%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  gap: 1%;
  align-items: center;
  justify-content: space-around;
  border: 2px dashed #1bb7e6;
  border-radius: 1vw;
  cursor: pointer;
}

.FilterSelectedItem {
  width: 40%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  gap: 1%;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #1378EE; 
  border-radius: 1vw;
  cursor: pointer;
}

.FilterSelectItem:hover {
  background-color: #0000000f;
}

.FilterSelectedItem:hover {
  background-color: #0000000f;
}

.FilterSelectItemR1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7vw;
  height: 7vw;
  background-color: #0400ff1c;
  border-radius: 150vw;
}


.FilterSelectItemR2 {
  font-size: 150%;
  font-weight: 500;
}

.FilterSelectItemR3 {
  font-size: 120%;
}

input[type="date"] {
  padding: 5px;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="range"] {
  width: 100%;
  margin-top: 10px;
}

span {
  font-size: 14px;
  margin-left: 10px;
}


.Filter-Right {
  display: flex;
  flex-direction: column;
}


label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #FFE925;
  border: 1px solid #1378EE;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #4c8baf;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]:hover {
  background: #ccc;
}

input[type="range"]:active::-webkit-slider-thumb {
  background: #3e578e;
}

input[type="range"]:active::-moz-range-thumb {
  background: #3e578e;
}

span {
  font-size: 14px;
  color: #555;
  margin-left: 10px;
}

.PolyControlRow{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  gap: 5vw;
  align-items: center;
}

.PolyControlButton {
  background-color: #9DC0E9;
  border: 1px solid #1378EE;
  width:5.5vw;
  height: 5.5vw;
  border-radius: 0.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PolyControlButton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit; /* Para manter o arredondamento */
}

.PolyControlButton:hover{
  background-color: #00000096;
  cursor: pointer;

}

  .Align-Center{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 6vh;
  }


  input[type="date"]::-webkit-datetime-edit-day-field { display: inline; } 
  input[type="date"]::-webkit-datetime-edit-month-field { display: inline; } 
  input[type="date"]::-webkit-datetime-edit-year-field { display: inline; } 
  input[type="date"]::-webkit-datetime-edit-text { display: inline; } 
  input[type="date"]::-webkit-inner-spin-button, 
  input[type="date"]::-webkit-clear-button { display: none; } 

  

  @media (max-width: 1000px) {
    .FilterControl{
      flex-direction: column;
    }

    .Search-filter {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .FilterControl{
      width: 100vw;
      display: flex;
      flex-direction: column;
    }

    .FilterDate{
      display: flex;
      justify-content: center;
      width: 100vw;
      flex-direction: column;
    }

    .FilterControlDateRow{
      display: flex;
      width: 100vw;
      flex-direction: column;
    }

    .FilterControlDateRow input[type="date"] {
      font-size: 20px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      outline: none;
      transition: border-color 0.3s ease;
      width: 50vw;
    }
    
    .FilterControlDateRow input[type="date"]:focus {
      border-color: #2c80b1;
    }
    
    .FilterControlDateRow input[type="date"]::-webkit-calendar-picker-indicator {
      cursor: pointer;
      filter: brightness(0.7);
    }
    
    .DateTitle{
      display: flex;
      font-size: 3vw;
      justify-content: center;
      font-size: 120%;
      font-weight: 600;
    }

    .DateInput{
      display: flex;
      font-size: 3vw;
      justify-content: center;
    }
    .FilterSelect{
      width: 90vw;
      height: 100vw;
    }

    .FilterSelectItemR1{
      width: 20vw;
      height: 20vw;
    }
    .PolyControlRow{
      width: 100%;
      height: 100%;
    }
    .PolyControlButton{
      width: 20vw;
      height: 20vw;
      border-radius: 3vw;
    }

}