*,
*::before,
*::after {
  box-sizing: border-box;
}

.img-slider-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 5px;
  padding: 20px;
}

.img-slider-btnRdetalhes {
  display: block;
  position: absolute;
  top: 45%;
  bottom: 0;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
  height: 60px;
  width: 20px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.img-slider-btnRdetalhes::after{
    content: ">";
    font-size: xx-large;
}

.img-slider-btnRdetalhes:hover,
.img-slider-btnRdetalhes:focus-visible {
  background-color: rgb(0, 0, 0, 0.2);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  content: ">>>";
}

.img-slider-btnLdetalhes {
    display: block;
    position: absolute;
    top: 45%;
    bottom: 0;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
    height: 60px;
    width: 20px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
  }

  .img-slider-btnLdetalhes::after{
    content: "<";
    font-size: xx-large;
  }
  
  .img-slider-btnLdetalhes:hover,
  .img-slider-btnLdetalhes:focus-visible {
    background-color: rgb(0, 0, 0, 0.2);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
  }
  


.img-slider-btn > * {
  stroke: white;
  fill: black;
  width: 2rem;
  height: 2rem;
  
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}

.img-slider-dot-btn {
  all: unset;
  display: block;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  transition: scale 100ms ease-in-out;
}

.img-slider-dot-btn:hover,
.img-slider-dot-btn:focus-visible {
  scale: 1.2;
}

.img-slider-dot-btn > * {
  stroke: white;
  fill: black;
  height: 100%;
  width: 100%;
}

.img-slider-dot-btn:focus-visible,
.img-slider-btn:focus-visible {
  outline: auto;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.skip-link:focus-visible {
  top: 0;
  left: 0;
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  width: auto;
  height: auto;
  margin: 0;
  clip: unset;
  text-decoration: none;
  color: black;
  z-index: 100;
}

@media not (prefers-reduced-motion) {
  .img-slider-img {
    transition: translate 300ms ease-in-out;
  }

  .img-slider-btn:hover > *,
  .img-slider-btn:focus-visible > * {
    animation: squish 200ms ease-in-out;
  }
}

.itemBtn{
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.767)
}

.itemBtnSelected{
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    border: 1px solid ;
    background-color: antiquewhite;
}
.CarroselBtnContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left:40%;
    padding-right:40%;
    position: absolute;
    bottom: 3.5%;
}

.botao-para-baixar {
    margin-left: 510px;
    margin-top: -70px;
}

.botao-para-baixar button {
  font-size: 0.9rem;
  padding: 8px 28px;
  background-color:#fff;
}
